body{
font-family:Arial;
margin:0;
background:#f7f4ed;
}

.nav{
display:flex;
justify-content:space-between;
padding:15px 40px;
background:white;
}

.nav a{
text-decoration:none;
margin-left:20px;
color:black;
}

h1{
margin:30px;
}

.cards{
display:flex;
margin:30px;
gap:20px;
}

.card{
flex:1;
background:white;
padding:20px;
text-align:center;
border-radius:8px;
}

.card b{
font-size:28px;
}

.search{
margin:30px;
}

input,select,button{
padding:8px;
}

button{
background:orange;
border:none;
color:white;
}

table{
width:90%;
margin:30px;
border-collapse:collapse;
background:white;
}

th{
background:#23395d;
color:white;
padding:10px;
}

td{
padding:10px;
border:1px solid #ddd;
}

.low{
background:#ffd9d9;
color:red;
}